body {
  /* position: relative; */
}

.container {
  display: flex;
  justify-content: center;
  width: 34rem;
  height: 23rem;
  background-color: white;
  border-radius: 10%;
  box-shadow: 50px;
  position: absolute;
  top: 30%;
  left: 30%;
}

.result {
  width: 20rem;
  border-radius: 10%;
  text-align: center;
  background-color: rgb(110, 42, 226);
  color: rgb(211, 216, 220);
}

.score {
  width: 8rem;
  height: 8rem;
  background-color: rgb(73, 14, 174);
  border-radius: 60%;
  margin: 30px 0 0 75px;
  padding: 10px;
  color: white;
  opacity: 0.7;
}
.scoretext {
  margin-top: 10px;
}

.myScore {
  height: 60px;
  font-size: 70px;
  margin-bottom: 20px;
}

.myScore span {
  color: white;
}

.totalscore {
  font-size: 13px;
  color: lightgray;
}

p {
  width: 70%;
  margin-left: 30px;
}

h3 {
  color: white;
}

h4 {
  margin-left: 10px;
}

.summary {
  width: 17rem;
  border-radius: 10%;
  background-color: rgb(255, 252, 252);
  box-shadow: 100px;
  margin-left: 20px;
}

.insideSummary {
  height: 100%;
}

.reaction {
  background-color: rgb(231, 211, 204);
  padding: 10px;
  color: rgb(246, 8, 0);
  margin: 10px;
  border-radius: 10px;
  opacity: 0.7;
}
.memory {
  background-color: rgb(234, 226, 223);
  padding: 10px;
  color: rgb(246, 181, 19);
  margin: 10px;
  border-radius: 10px;
  opacity: 0.7;
}
.verbal {
  background-color: rgb(217, 238, 220);
  padding: 10px;
  color: green;
  margin: 10px;
  border-radius: 10px;
  opacity: 0.7;
}
.visual {
  background-color: rgb(202, 220, 238);
  padding: 10px;
  color: blue;
  margin: 10px;
  border-radius: 10px;
  opacity: 0.7;
}

.btn {
  background-color: rgb(11, 11, 46);
  border: none;
  color: white;
  border-radius: 20px;
  width: 80%;
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px;
}

.summary span {
  margin-left: 60px;
  color: black;
}

@media screen and (max-width: 600px) {
  .container {
    display: block;
    width: 300px;
    top: 100px;
    left: 50px;
  }
  .result {
    /* margin-left: 15px; */
    width: 100%;
    height: 100%;
  }
  .summary {
    width: 100%;
    margin-left: 0px;
    margin-top: -30px;
  }
  .insideSummary {
    margin-top: 3rem;
    padding: 5px;
  }
  p {
    width: 80%;
    margin-left: 30px;
  }
}
